<footer class="footer">
    <div class="container">
        <div class="footer-links">
            <a href="https://uk.linkedin.com/in/jackmorgan2022" target="_blank">LinkedIn</a>
            <a href="https://github.com/Jack-Morgan22" target="_blank">GitHub</a>
            <a href="https://www.youtube.com/@jackmorgan2002" target="_blank">YouTube Channel</a>
            <a href="https://jackmorgan22.itch.io/" target="_blank">Itch.io</a>
            <a href="Contact.html" target="_blank"> Get In Touch</a>
        </div>
        <div class="footer-disclaimer">
            <p>&copy; 2025 Jack Morgan. All Rights Reserved. T&C: This website is for portfolio purposes only and adheres to UK laws.</p>
        </div>
    </div>
</footer>